@charset "utf-8";
@import "common";
@import "compass/css3";
//图片路径：../../image/demo15/border_round.png


.wrapper {
	width: 50%;
	float: left;
	.cube {
		font-size: 4em;
		width: 2em;
		margin: 1.5em auto;
		@include transform-style(preserve-3d);
		transform: rotateX(-40deg) rotateY(32deg);
	}
	.side {
		position: absolute;
		width: 2em;
		height: 2em;
		background: rgba(255, 99, 71, 0.6);
		border: 1px solid rgba(0, 0, 0, 0.5);
		color: white;
		text-align: center;
		line-height: 2em;
	}
	.front {
		transform: translateZ(1em);
	}
	.top {
	   transform: rotateX(90deg) translateZ(1em);
	}

	.right {
	   transform: rotateY(90deg) translateZ(1em);
	}

	.left {
	   transform: rotateY(-90deg) translateZ(1em);
	}

	.bottom {
	   transform: rotateX(-90deg) translateZ(1em);
	}

	.back {
	   transform: rotateY(-180deg) translateZ(1em);
	}
}

.w1 {
	@include perspective(1000px);
}