@charset "utf-8";
@import "common";
@import "compass/css3";

ul {
	width: 690px;
	margin: 20px auto;
	font-size: 0;//兼容inline-block之间的3px间隔
	li{
		display:inline-block;
		*display: inline;
		margin: 5px;
		font-size: 16px;
		letter-spacing: normal;
		word-spacing: normal;
		zoom:1;	
		img {
			width: 128px;
			height: 128px;
		}
	}
	li:nth-child(2){
		-webkit-filter:grayscale(1);
	}
	li:nth-child(3){
		-webkit-filter:sepia(1);
	}
	li:nth-child(4){
		-webkit-filter:saturate(0.5);
	}
	li:nth-child(5){
		-webkit-filter:hue-rotate(90deg);
	}
	li:nth-child(6){
		-webkit-filter:invert(1);
	}
	li:nth-child(7){
		-webkit-filter:opacity(0.2);
	}
	li:nth-child(8){
		-webkit-filter:blur(3px);
	}
	li:nth-child(9){
		-webkit-filter:drop-shadow(5px 5px 5px #ccc);
	}
	li:nth-child(10){
		 -webkit-filter: saturate(6) hue-rotate(361deg) brightness(.09);
	}
}
.gallery:hover li:not(:hover){
	-webkit-filter: blur(2px) grayscale(1);
		opacity: .7; 
}