@charset "utf-8";

body{
	background:#f2f3f4;
}
$red:#f45ba8;
.wrap-box{
	padding:30px 0 0 340px;
	.home-box{
		width:1220px;
		outline: 1px solid red;
		height: 3000px;
	}
	.mod-hd{
		height: 26px;
		margin:50px 0 20px;
		h4{
			float:left;
			font-size:22px;
			height:26px;
			line-height: 26px;
			font-weight: 500;
			span{
				display:inline-block;
				vertical-align:text-bottom;
				background: url("../../image/demo4/watch-bg.png") no-repeat 0 0;
				width:32px;
				height: 26px;
				margin-right:8px;
			}
		}
		.more{
			float:right;
			font-size: 14px;
			color: #999;
			height:26px;
			line-height: 26px;
		}
	}
	.mod-list{
		ul{
			width:103%;
			overflow: hidden;
		}
		li{
			float:left;
			position:relative;
		}
		.w195{
			width:195px;
			margin-right: 10px;
			.img{
				display: block;
				width: 195px;
				height: 195px;
				overflow: hidden;
				img{
					width: 100%;
					height: 100%;
					transition: all .5s ease-in-out;
				}
			}
			.img:hover{
				img{
					transform: scale(1.1);
				}
				.mark{
					opacity: .6;
					filter: alpha(opacity=60);
				}
			}
			.mark{
				/* display: none; */
				width: 195px;
				height: 195px;
				/* background: url("../../image/demo4//tip-bg-65.png"); */
				position: absolute;
				top: 0;
				left: 0;
				background: #000;
				opacity: 0;
				filter: alpha(opacity=0);
				transition: all .15s ease-in-out;
			}
			.time{
				display: none;
				position: absolute;
				top: 120px;
				height: 18px;
				line-height: 18px;
				overflow: hidden;
				
				color: #FFf;
				width: 180px;
				left: 50%;
				margin-left: -90px;
			}
			.new-txt{
				background: #fff;
				width: 189px;
				height: 53px;
				padding-left: 6px;
				overflow: hidden;
				border: 1px solid #e8e7ec;
				border-top: none;
				p{
					height: 18px;
					line-height: 18px;
					margin-top: 6px;
				}
				.tag{
					float:right;
					margin-right: 6px;
				}
				strong{
					font-weight: 400;
				}
			}
			.name{
				em{
					float:right;
					margin-right: 5px;
				}
				a{
					width: 120px;
					font-size:13px;
					display: inline-block;
					text-overflow:ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
			.h-peo-icon{
				margin-top:2px;
			}
			.blue-star-icon{
				/* @extend %pub-icon; */
				width:48px;
				height:11px;
				display: block;
				position: absolute;
				top:0;
				right: 0;
				background-color: blue;
			}
		}
		.w296{
			width:296px;
			margin-right: 12px;
			.img{
				position: relative;
				display: block;
				width: 296px;
				height: 134px;
				overflow: hidden;
				.filter{
					width: 100%;
					height: 100%;
					filter: blur(5px);
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
				}
				.mark{
					width: 296px;
					height: 134px;
					position: absolute;
					top: 0;
					left: 0;
					background: #000;
					opacity: .65;
					filter: alpha(opacity=65);
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
				}
			}
			.avatr{
				position: absolute;
				top:50%;
				left:50%;
				width:76px;
				height:76px;
				border:1px solid #fff;
				margin:-39px 0 0 -39px;
				border-radius: 50%;
				overflow: hidden;
				img{
					position: absolute;
					top:50%;
					left:50%;
					width:70px;
					height:70px;
					margin:-35px 0 0 -35px;
					border-radius: 50%;
				}
			}
			.new-txt{
				background: #fff;
				width: 288px;
				height: 42px;
				line-height: 42px;
				padding-left: 8px;
				border: 1px solid #e8e7ec;
				border-top: none;
				overflow: hidden;
				.name{
					span{
						float: right;
						margin-right: 8px;
					}
					a{
						font-size: 12px;
					}


				}
			}
			.anchorr-icon{
				/* @extend %pub-icon */
				/* background-position: ; */
				margin-top:2px;
				background: url("pub-icon.png");
				background-color: red;
				display: inline-block;
				width:11px;
				height: 12px;

			}
		}
	}
}
//直播流区域
.video-area{
	//左侧
	.video-box{
		position:relative;
		float:left;
		width:758px;
		height:456px;
		background: url("../../image/demo4/video-bg.jpg");
		.user-box{
			position: absolute;
			top:0;
			left:0;
			width:188px;
			padding:12px 10px 0 10px;
		}
		.user-info{
			height: 38px;
			padding-bottom:8px;
			border-bottom: 1px solid #423141;
			.pic{
				position: relative;
				float:left;
				width:38px;
				height:38px;
				margin-right: 8px;
				img{
					width:36px;
					height:36px;
					border-radius:50%;
					border:1px solid #727272;
				}
				em{
					position:absolute;
					right: 0;
					bottom:0;
					width:13px;
					height:13px;
					background:red;
				}
			}
			.text{
				float:left;
				width:80px;
				.name{
					color:#fff;
					height: 16px;
					line-height: 16px;
					margin:5px 0 1px;
					font-size:14px;
					text-overflow:ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
				.id{
					color:#666;
					font-size:12px;
				}

			}
			.btn{
				float:right;
				margin: 5px 1px 0 0;
				span{
					display:block;
					width:52px;
					height:28px;
					line-height:28px;
					text-align: center;
					color:#fff;
					background: $red;
					border-radius:4px;
					font-size:13px;
				}
				.already{
					color: #eda1ca;
					background: #8a295e;
				}
				.cancel{
					color:#fff;
					background:$red;
				}
			}
		}
		.user-data{
			margin:12px 0 12px;
			height: 36px;
			dl{
				float: left;
				height:36px;
			}
			dt{
				color:#fff;
				height: 18px;
				line-height: 18px;
				text-align: center;
			}
			dd{
				color:#666;
				height: 18px;
				line-height: 18px;
				text-align: center;
			}
			.charm{
				width:93px;
				border-right:1px solid #423141;
			}
			.fans{
				width:94px;
			}
		}
		.user-watch{
			width:188px;
			height:30px;
			line-height:30px;
			text-indent: 32px;
			color:#979797;
			background: url("../../image/demo4/watch-bg.png") no-repeat 0 0;
			span{
				color:#fffefe;
				margin-left: 4px;
			}
		}
	}
	//右侧
	.video-item{
		position:relative;
		float:right;
		/* width:459px;
		height:456px; */
		ul{
			width:459px;
			height:456px;
			overflow:hidden;	
		}
		.star-tip{
			position: absolute;
			right:0;
			bottom:-24px;
			height:24px;
			line-height: 24px;
			font-size:14px;
			color:#999;
			span{
				display: inline-block;
				vertical-align: middle;
				width:18px;
				height:16px;
				background:url("../../image/demo4/watch-bg.png") no-repeat;
				margin-right:4px;
			}
		}
		li{
			float:left;
			position:relative;
			width:150px;
			height:150px;
			margin:0 0 3px 3px;
		}
		li.curr{
			.red-bg{
				opacity: .8;
				filter: alpha(opacity=80);
			}
			.shade{
				opacity:.1;
				filter:alpha(opacity=10);
			}
			.name{
				margin-top: -10px;
				font-weight: bold;
				filter: alpha(opacity=100);
				opacity: 1;
			}
		}
		.star-icon{
			display:block;
			position:absolute;
			top:0;
			right:0;
			width:50px;
			height:13px;
			background:url("corner-icon.png") no-repeat 0 0;
			background-color:red;
		}
		.item-list{
			display:block;
			width:100%;
			height:100%;
			&:hover{
				.name{
					margin-top: -10px;
					filter: alpha(opacity=100);
					opacity: 1;
				}
				.shade{
					filter: alpha(opacity=10);
					opacity: .1;
				}
			}
		}
		.pic{
			display:block;
			width:100%;
			height:100%;
			overflow:hidden;
			img{
				height: 150px;
				margin-left: -20px;
				/* transition: opacity .4s ease-in-out,visibility .4s ease-in-out; */
			}
		}
		.shade{
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			background:#000;
			opacity:.2;
			filter:alpha(opacity=20);
			transition:all .3s;
		}
		.name{
			position:absolute;
			left:0;
			top:50%;
			z-index:3;
			width:140px;
			height:20px;
			margin:5px 0 0 5px;
			line-height:20px;
			text-align:center;
			text-overflow:ellipsis;
			white-space: nowrap;
			overflow:hidden;
			color: #fff;
			opacity: 0;
			filter: alpha(opacity=0);
			transition: all .3s;
		}
		.red-bg{
			width: 100%;
		    height: 100%;
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    z-index: 2;
		    background-color:$red;
		    transition: all .3s;
		    opacity: 0;
		    filter: alpha(opacity=0);
		    overflow: hidden;
		}

	}
}

//秀吧精选
.good-area{
	.mod-list{
		height: 249px;
	}
}
//最热公会
.guild-area{
	.mod-list{
		height: 176px;
	}
}
//活动&游戏
.activity-area{
	position: relative;
	.act-bg{
		position: absolute;
		top: -3px;
    	left: -36px;
		z-index: -1;
		width:1256px;
		height:132px;
		background:url("../../image/demo4/act-bg.png") no-repeat;
	}
	.mod-hd{
		margin-bottom:9px;
		h4{
			font-size: 20px;
			text-indent: 38px;
		}
	}
	.mod-list{
		height: 90px;
		li{
			width:300px;
			margin-left:4px;
			a{
				display: block;
				width: 300px;
				height: 90px;
				overflow: hidden;
				img{
					width:100%;
					height:100%;
				}
			}
		}
	}
}
//达人新星
.master-area{
	.mod-list{
		.w195{
			margin-bottom:10px;
		}
	}
}
//热门主播
.anchor-area{
	.mod-hd{
		ul{
			padding-left:32px;
			overflow: hidden; 
		}
		li{
			float:left;
			height:26px;
			line-height:26px;
		    margin-right: 28px;
		    font-size: 14px;
		    color: #999;
		    cursor: pointer;
		    &:hover{
		    	color:#333;
		    	border-bottom: 2px solid $red;
		    }
		}
		li.cur{
			color:#333;
			border-bottom: 2px solid $red;
		}
	}
}
//排行榜
.rank-area{
	.mod-list{
		width:103%;
		overflow: hidden;
	}
	.list-box{
		float: left;
		width:299px;
		height:330px;
		margin-right:8px;
		background:#fff;
		.title{
			margin:10px 0;
			height: 26px;
			line-height: 26px;
			padding-left:8px;
			border-left: 3px solid #f2592a;
		}
		h4{
			float: left;
			font-size:18px;
			font-weight: 500;
		}
		ul{
			border-top: 1px solid #eee;
		}
	}
	.anchor{
		li{
			font-size: 0;
		    left:12px;
		    height:46px;
		    width:277px;
		    line-height: 50px;
		}
		li.list1{
			.num{
				color:#f2592a;
			}
		}
		li.list2{
			.num{
				color:#f8815c;
			}
		}
		li.list3{
			.num{
				color:#fea386;
			}
		}
		.num{
			display: inline-block;
		    vertical-align: middle;
		    width: 20px;
		    margin-right: 6px;
		    color: #999;
		    font-size: 16px;
		    text-align: left;
		    font-style: italic;
		    font-weight: 700;
		}
		.img{
			width: 40px;
			height: 40px;
			margin-right: 12px;
			vertical-align: middle;
			border-radius: 50%;
			overflow:hidden;
		}
		.wt36{
			display: inline-block;
			width: 36px;
		}
		.name{
			display: inline-block;
			vertical-align: middle;
			width: 105px;
			height: 14px;
			line-height: 14px;
			margin-left: 8px;
			font-size: 12px;
			text-overflow:ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.rig{
			position: absolute;
			right: 0;
			top: 0;
		}
		.live-icon{
			/* @extend %corner-icon; */
		    width: 28px;
		    height: 12px;
			display: inline-block;
		    background-position: -45px -58px;

		}
	}
	.notice{
		.title{
			a{
				font-size: 14px;
				color: #999;
				float: right;
				margin-right: 10px;
			}
		}
	}
	.home-date{
		float: right;
		color: #999;
		span{
			height: 26px;
			line-height: 26px;
			margin: 0 6px;
			cursor: pointer;
			font-size: 13px;
			&:hover{
				color:#f2592a;
			}
		}
		span.cur{
			color:#f2592a;
		}
	}
}

