@charset "utf-8";
@import "../common";

body{
	width:800px;
	margin:0 auto;
	padding:50px;
}
button{
	padding:.3em .8em;
	border:1px solid grba(0,0,0,.1);
	border-radius: .2em;
	box-shadow: 0 .05em .25em rgba(0,0,0,.5);
	color: white;
	text-shadow:0 -.05em .05em rgba(0,0,0,.5);
	font-size: 125%;
	line-height: 1.5;
	outline: none;
}
.button1{
	background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
}
.button2{
	background: #58a linear-gradient(hsla(0,0%,0%,.5),transparent);
}
.cancel{
	background-color: #c00;
}
.ok{
	background-color:#6b0;
}

.cancel2{
	background-color: #c00;
}
.ok2{
	background-color: #6b0;
}

