@charset "utf-8";
//热门主播
.anchor-area{
	.mod-hd{
		ul{
			padding-left:32px;
			overflow: hidden; 
		}
		li{
			float:left;
			height:26px;
			line-height:26px;
		    margin-right: 28px;
		    font-size: 14px;
		    color: #999;
		    cursor: pointer;
		    &:hover{
		    	color:#333;
		    	border-bottom: 2px solid $red;
		    }
		}
		li.cur{
			color:#333;
			border-bottom: 2px solid $red;
		}
	}
	.mod-list{
		.w195{
			margin-bottom: 10px;
		}
	}
}