@charset "utf-8";

.mod-left-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    //background: url($pathPcImg +'index/leftnav-bg.jpg') #ffffff left bottom no-repeat;
    background: url("index/leftnav-bg.jpg") #ffffff left bottom no-repeat;
    border-right: 1px solid #e4e4e4;

    /*登录*/
    .nav-sign-in {
        height: 50px;
        padding-top: 62px;
        //background: url($pathPcImg + "index/singn-bg.png") 23px 18px no-repeat;
        background: url("index/singn-bg.png") 23px 18px no-repeat;
        padding-left: 23px;

        a {
            display: block;
            width: 67px;
            height: 42px;
            float: left;
            background: red;
            margin-right: 5px;
        }
    }

    /*登陆以后*/
    .left-info {
        width: 100%;
        height: 120px;
        padding-top: 10px;
        text-align: center;
        font-size: 14px;

        .name {
            width: 125px;
            height: 15px;
            line-height: 15px;
            margin: 7px auto 0 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }
        p {
            margin-top: 7px;
        }
        .mr22 {
            margin-right: 22px;
        }
        .ml22 {
            margin-left: 22px;
        }
        .op-txt {
            a {
                font-size: 13px;
                color: #f53595;
            }
        }
    }

    /*logo*/
    .left-logo {
        height: 73px;
        width: 180px;
        background: red;
    }

    /*我的守护*/
    .nav-tab {
        border-bottom: 1px  solid #e4e4e4;
        font-size: 14px;

        li {
            padding-left: 20px;
            height: 42px;
            line-height: 42px;
            border-top: 1px solid #e4e4e4;
            cursor: pointer;
            position: relative;
        }
        .guard-icon, .follow-icon, .look-icon {
            display: inline-block;
            width: 20px;
            height: 22px;
            background: red;
            vertical-align: middle;
            margin-right: 10px;
        }
        .right-triangle {
            display: block;
            width: 5px;
            height: 9px;
            position: absolute;
            right: 20px;
            top: 17px;
            background: red;
        }
    }

    /*二维码*/
    .qr-code {
        width: 100%;
        text-align: center;
        margin-top: 30px;
        font-size: 14px;
        color: #cf1b7a;

        p {
            margin-top: 5px;
        }
    }
    .img160 {
        width: 160px;
        height: 120px;
    }
    .img40 {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .org {
        font-size: 12px;
        color: #eb631c;
    }
}

/*我的关注 守护 浏览记录*/
.nav-pub-wrapper {
    width: 540px;
    height: 530px;
    padding: 20px 0 0 20px;
    border: 1px solid #dbdbdb;
    background: #ffffff;
    box-shadow: 0 0 8px #ccc;
    position: absolute;
    left: 165px;
    top: 100px;
    overflow: hidden;
    .wrapper-hide {
        height: 470px;
        overflow: hidden;
    }
    .tit {
        height: 25px;
        line-height: 25px;
        padding-bottom: 10px;
        margin-right: 20px;
        border-bottom: 1px solid #dbdbdb;
        font-size: 16px;
        color: #333333;
        font-weight: 400;
    }
    .state-tit {
        height: 18px;
        line-height: 18px;
        margin: 12px 0 20px 0;
        font-size: 14px;
        font-weight: 400;
        color: #f53595;
        border-left: 2px solid #f53595;
        text-indent: 10px;
    }

    /*正在直播*/
    .state-live {
        clear: both;

        li {
            width: 160px;
            overflow: hidden;
            margin-bottom: 20px;
            margin-right: 20px;
            float: left;

            .sta-name {
                margin: 5px 0;
            }
            em {
                float: right;
            }
            .pos {
                position: relative;
            }
            .peo-num {
                position: absolute;
                bottom: 5px;
                right: 5px;
                color: #ffffff;
            }
            .peo {
                display: inline-block;
                width: 11px;
                height: 12px;
                background: red;
            }
        }
        .name {
            display: inline-block;
            width: 120px;
            height: 15px;
            line-height: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
            font-size: 13px;
        }
    }

    /*未开播*/
    .state-no-live {
        clear: both;

        li {
            width: 160px;
            float: left;
            height: 40px;
            line-height: 40px;
            margin: 0 20px 20px 0;

            img {
                vertical-align: middle;
            }
        }
        .name {
            display: inline-block;
            width: 105px;
            height: 15px;
            line-height: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
            font-size: 13px;
        }
    }
    .no-data {
        width: 380px;
        text-align: center;
        margin: 0 auto;
        padding-top: 150px;
    }

    /*没有数据*/
    .bgc-img {
        width: 96px;
        height: 80px;
        //background: url($pathPcImg +'index/ufo.png')  no-repeat;
        background: url('index/ufo.png')  no-repeat;
        margin: 0 auto;
    }
    .no-txt {
        font-size: 20px;
        color: #999999;
        margin-top: 20px;
    }
}