@charset "utf-8";
@import "common";
@import "compass/css3";
//图片路径：../../image/demo15/border_round.png


.sina-box{
	width:960px;
	height:2000px;
	margin:20px auto;
	background:url(../../image/demo27/body_bg.jpg) top center;
	background-size: 100% 100%;
}
.sina-backtop-box{
	text-align: right;//这个换成center更明显。
	//使用这种做法   返回顶部的定位与页面主体宽度无关了。在页面宽度自适应的布局中可以大放异彩！
	.sina-backtop{
		position: fixed;
		_position:absolute;
		bottom:100px;
		width:20px;
		padding:5px 0;
		background-color: pink;
		color:#34538b;
		text-align: center;
		text-decoration: none;

		//传统做法
		/* position: fixed;
	    left: 50%;
	    margin-left: 476px; 这个显然经过了计算，且受限于容器宽度值
	    bottom: 100px; */
	}
}